@model ChordProgressionGenerator.Models.TempProgression

<h1>Chord Progression</h1>

<div>
    <partial name="/Views/Shared/_ChordProgressionPartial.cshtml" model="@Model.Chords" />
</div>

<div>
    @Html.ActionLink("Click to change key and chord number!", "Index", "TempProgression")
</div>


@{
    var data = new Dictionary<string, string>
    {
                { "RootNote", Model.RootNote },
                { "ScaleType", Model.ScaleType },
                { "ChordString", Model.ChordString },
    };
}

<p>If you want, you can name and save the progression below!</p>
<hr />
<form asp-controller="Progression" asp-action="SaveProgression" asp-all-route-data="data" method="post">
    <div class="form-group">
        <label>Pick a Name</label>
        <input asp-for="Name" type="text" />
    </div>
    <input type="submit" value="Save Progression" />
</form>