<div class="chord-display">

    @{string[] arr = Model.FRETS.Split(", "); }
    <p>
        e------@arr[5]------<br />
        B------@arr[4]------<br />
        G------@arr[3]------<br />
        D------@arr[2]------<br />
        A------@arr[1]------<br />
        E------@arr[0]------<br />
    </p>
</div>
