@*@model ChordProgressionGenerator.Models.Keys

<h1>Possible Keys</h1>

<div>
    <ul>
        @foreach (Key key in Model.SubKeys)
        {
            <li>
                <p>Name: @key.Name || Notes: @key.Notes </p>
            </li>
        }
    </ul>
</div>*@
