@model List<ChordProgressionGenerator.Models.Chord>

<h1>Chord Progression</h1>

<div>
    <partial name="/Views/Shared/_ChordProgressionPartial.cshtml" model="@Model" />
</div>

<div>
    @Html.ActionLink("Click to make a new progression!", "Index", "TempProgression")
</div>
