@model List<ChordProgressionGenerator.Models.Progression>;

<div class="text-center">
    <h1 class="display-4">Saved Progressions</h1>
</div>

<div>
    <ul>
        @foreach (Progression progression in Model)
        {
        <li>
            <p>@progression.Name</p>
            @*<p>@Html.ActionLink("Display", "Display", "Progression", new { progression = progression.Id }) @Html.ActionLink("Delete", "Delete", "Progression", new { Id = progression.Id })</p>*@
        </li>
        }
    </ul>
</div>

<div>
    @Html.ActionLink("Click to make a new chord progression!", "Index", "TempProgression")
</div>